<?xml version="1.0" encoding="UTF-8"?>
  <config>
     <modules>
        <Marmotaverde_ElegirElectro>
          <version>1.0.0</version>
        </Marmotaverde_ElegirElectro>
     </modules>
	 <global>
            <blocks>
               <elegirelectro>
                        <class>Marmotaverde_ElegirElectro_Block</class>
               </elegirelectro>
             </blocks>
            <models>
               <elegirelectro>
                        <class>Marmotaverde_ElegirElectro_Model</class>
               </elegirelectro>
             </models>
	 </global>
     <frontend>
       <routers>
          <ruta>
              <use>standard</use>
              <args>
                 <module>Marmotaverde_ElegirElectro</module>
                 <frontName>elegir-mi-electrodomestico</frontName>
              </args>
           </ruta>
       </routers>
	   <layout>
            <updates>
                 <elegirelectro>
                          <file>marmotaverde-mielectrodomestico.xml</file>
                  </elegirelectro>
            </updates>
		</layout>
    </frontend>
</config>
